
#outline{
    display:grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: 20vh 30vh auto 20vh;
    grid-gap: 20px;
    grid-template-areas:
   
    "hd hd hd hd"
    "nv1 nv1 nv1 nv1"
    "mn1 mn1 mn1 mn1"
    "ft ft ft ft";
}


#outline2{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20vh 15vh 35vh 40vh 40vh 40vh 20vh;
    grid-gap: 20px;
    grid-template-areas: 
   
    "hd hd hd hd hd"
    "nv2 nv2 nv2 nv2 nv2"
    "mn2 mn2 mn2 mn2 mn2"
    "as21 se21 se21 se21 se21"
    "as22 se22 se22 se22 se22"
    "as23 se23 se23 se23 se23"
    "ft ft ft ft ft";
}


#outline3{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20vh 40vh 15vh 60vh 40vh 20vh;
    grid-gap: 20px;
    grid-template-areas: 
    
    "hd hd hd hd hd"
    "nv3 nv3 nv3 nv3 nv3"
    "nv31 nv31 nv31 nv31 nv31"
    "mn3 mn3 mn3 mn3 mn3"
    "se3 se3 se3 se3 se3"
    "ft ft ft ft ft";
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: hd;
    width: 100%;
    background-color:white;
    font-size: 20px;
    text-align: center;
}

.headertitle{
    width: fit-content;
    height: fit-content;
    margin-top: 0%;
}

footer{
    grid-area: ft;
    background-color:white;
    font-size: 1rem;

}


nav#nv1{
    grid-area: nv1;
    background-color:white;
    font-size: 20px;
}

nav#nv2{
    grid-area: nv2;
    background-color:white;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 20px;
}
.undertitel{
align-items: center;
text-align: center;
}


nav#nv3{
    grid-area: nv3;
    background-color:white;
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 20px;
    text-align: center;
}
nav#nv31{
    grid-area: nv31;
    background-color:white; 
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 20px;
}

main#mn1{
    grid-area:mn1;
    background-color:white; 
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
main#mn2{
    grid-area: mn2;
    background-color:white; 
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 20px;
}
main#mn3{
    grid-area: mn3;
    background-color:white; 
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    padding: 1rem;


}



aside#as21{
    grid-area: as21;
    background-color:white; 
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    text-align: center;
}
aside#as22{
    grid-area: as22;
    background-color:white; 
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    text-align: center;

}
aside#as23{
    grid-area: as23;
    background-color:white; 
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    text-align: center;
}


section#se21{
    grid-area: se21;
    background-color:white; 
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 20px;
}
section#se22{
    grid-area: se22;
    background-color:white; 
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 20px;
}
section#se23{
    grid-area: se23;
    background-color:white; 
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 20px;
}   

section#se3{
    grid-area: se3;
    background-color:white; 
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    font-size: 1rem;

}